@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
      background-image: url("../public/Desktop\ -\ 1.png");
      background-size: cover; /* Adjust as needed */
      background-position: center center; /* Adjust as needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.image {
  width: 300px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  /*put at center */
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border: 5px solid white;
  background-color: white;
  
}



.footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 5%;
  padding: 0rem;
}


.title {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
}
.container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: calc(100vh - 50px); */
    font-family: "Clear Sans", Arial, sans-serif;
    padding: 0 px;
    margin-bottom: 0px;}

.description {
  margin-top: 3rem; /* Adjust the desired space between container and button */
  color: white;
  font-size: 25px;
  width: 30rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.black-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  margin: 1rem;
}
.footerP{
  padding: 1rem;
  margin: 0;
}
.GameDiv{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
